.container{
    display: flex;
    /* flex-direction: column; */
    margin: auto;
    top: 100px;
    /* margin: 0; */
    padding-top: 80px;
    /* width: 450px; */
    /* background: #fff; */
    /* padding-bottom: 30px; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 4px 8x rgba(0, 0, 0, 0.2); */
    /* border-radius: 8px; */
    /* border: 1px; */
    /* box-sizing: border-box; */
    /* position: relative; */
    
}
 
.forgott-password{
    padding-left: 1px;
    margin-left: 2px;
    margin-bottom: 29px;
    color: #4c00b4;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    top: -39px; /* Moves it up */
   
}

.form-control{
    width: 350px;
    height: 220px;
    padding: 10px;
    background-color: white;
    /* justify-content: center; */
    border-radius: 8px;
    /* align-items: center; */
    /* margin: auto;     */
    overflow: hidden;
    /* border: 1px; */
    margin-top: 99px;

}

.logo{
    width:55%;
    margin-left: 85px;
}

.dlink{
    margin-top: 70px;
    margin-left: 90px;
}

.btinternet{
    color: white;
    background: #e44e5f;
    margin-left: 130px;
    font-size: 19px;
    font-weight: 700;

    
}